# Core utilities
CONFIG_FEATURE_PREFER_APPLETS=y
CONFIG_BUSYBOX_EXEC_PATH="/proc/self/exe"
CONFIG_FEATURE_INSTALLER=y
CONFIG_INSTALL_NO_USR=y

# Applets
CONFIG_ASH=y
CONFIG_ASH_ALIAS=y
CONFIG_ASH_BASH_COMPAT=y
CONFIG_ASH_CMDCMD=y
CONFIG_ASH_ECHO=y
CONFIG_ASH_GETOPTS=y
CONFIG_ASH_INTERNAL_GLOB=y
CONFIG_ASH_JOB_CONTROL=y
CONFIG_ASH_MAIL=y
CONFIG_ASH_OPTIMIZE_FOR_SIZE=y
CONFIG_ASH_RANDOM_SUPPORT=y

# Standard commands
CONFIG_CAT=y
CONFIG_CHMOD=y
CONFIG_CHOWN=y
CONFIG_CP=y
CONFIG_DATE=y
CONFIG_DD=y
CONFIG_DF=y
CONFIG_DMESG=y
CONFIG_DU=y
CONFIG_ECHO=y
CONFIG_GREP=y
CONFIG_GUNZIP=y
CONFIG_GZIP=y
CONFIG_HOSTNAME=y
CONFIG_HWCLOCK=y
CONFIG_IFCONFIG=y
CONFIG_INIT=y
CONFIG_INSMOD=n
CONFIG_KILL=y
CONFIG_KILLALL=y
CONFIG_LN=y
CONFIG_LS=y
CONFIG_LSMOD=n
CONFIG_MKDIR=y
CONFIG_MKFS_VFAT=y
CONFIG_MKNOD=y
CONFIG_MKSWAP=y
CONFIG_MODPROBE=n
CONFIG_MOUNT=y
CONFIG_MV=y
CONFIG_PING=y
CONFIG_PS=y
CONFIG_RM=y
CONFIG_RMDIR=y
CONFIG_ROUTE=y
CONFIG_SH=y
CONFIG_SLEEP=y
CONFIG_SYNC=y
CONFIG_TAR=y
CONFIG_TOUCH=y
CONFIG_TRACEROUTE=y
CONFIG_UMOUNT=y
CONFIG_UNAME=y
CONFIG_VI=y
CONFIG_WGET=y
CONFIG_WHICH=y

# System logging
CONFIG_SYSLOGD=y
CONFIG_FEATURE_ROTATE_LOGFILE=y
CONFIG_FEATURE_REMOTE_LOG=y
CONFIG_LOGREAD=y
CONFIG_FEATURE_LOGREAD_REDUCED_LOCKING=y
CONFIG_KLOGD=y